<article class="section">
  <figure class="section-column" style="background-image: url('{{ include.section.photo }}')">
    <img class="section-image" data-object-fit="cover" data-object-position="center center" src="{{ include.section.photo }}" alt="{{ include.section.photo_alt_text }}" />
    <figcaption>{{ include.section.photo_alt_text }}&mdash;photo by
      <a href="{{ include.section.photo_author_url }}" target="_blank">{{ include.section.photo_author }}</a>
    </figcaption>
  </figure>
  <div class="section-column">
    <div class="section-content">
      <h1>{{ include.section.title }}</h1>
      {{ include.section.content }}
    </div>
  </div>
</article>